<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manoj</title>
</head>
<body>
<h1>ADD NEW USERS</h1>
<form action=" " method="post">
    <label>NAME:</label>
    <input type="text" name="name" required placeholder="Your Name"><br>
    <label>AGE</label>
    <input type="number" name="age" required placeholder="Your Age"><br>
    <label>BLOOD_GROUP</label>
    <input type="text" name="blood_group" required placeholder="Your Blood Group"><br>
    <label>GENDER</label>
    <input type="radio" name="gender" required value="Male">
    Male
    <input type="radio" name="gender" required value="Female">
    Female
    <input type="radio" name="gender" required value="Other">
    Other<br>
    <label>HEIGHT </label>
    <input type="number" name="height" required placeholder="Your height"><br>
    <label>WEIGHT </label>
    <input type="number" name="weight" required placeholder="Your weight"><br>
    <label>ADDRESS </label>
    <input type="messagebox" name="address" required placeholder="Your current location"><br>
    <label>CITY</label>
    <input type="text" name="city" required placeholder="Your Current City"><br>
    <label>PHONE_NUMBER </label>
    <input type="text" name="phone_number" required placeholder="Your contact number"><br>
    <label>AVAILABILITY </label>
    <input type="radio" name="availability" required value="24x7"  placeholder="Your availability">
    24x7
    <input type="radio" name="availability" required value="custom"  placeholder="Your availability">
    Sometimes<br>
    <label>LAST_DONATION </label>
    <input type="date" name="last_donation" required placeholder="Your last donataion"><br>
    <label>DEGREE</label>
    <input type="text" name="degree" required placeholder="Your Degree"><br>
    <label>MAJOR</label>
    <input type="text" name="major" required placeholder="Your Major"><br>
    <label>ACADEMIC_YEAR</label>
    <input type="text" name="academic_year" required placeholder="Your Academic Year"><br>
    <input type="submit" value="Save Details">
</form>
</body>
</html>